history/
build/
kosmatau3d.egg-info/
notebooks/debugging/debugging_plot/*
notebooks/debugging/dilled/*
kosmatau3d/grid/dilled/*
*.pyc
*/__pycache__/
*.py[cod]
*.aux
*.log
*.synctex.gz
*.ipynb_checkpoints/
