book/
build/
docs/_build
docs/_source/_autosummary
docs/_source/generated
docs/_source/kosmatau3d.*
dist/
history/
kosmatau3d.egg-info/
notebooks/debugging/debugging_plot/*
notebooks/debugging/dilled/*
kosmatau3d/grid/dilled/*
*/__pycache__/
*/plots/*.png
*.ipynb_checkpoints/
*.py[cod]
*.pyc
*/.obsidian
*.aux
*.log
*.synctex.gz
